* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s linear;
}

body {
  padding: 15px 140px;
}

:root {
  --primary-color: #066f14;
  --secondary-color: #1a1a1a;
  --paragraph-color: #4a4a4a;
}

.paragraph {
  font-family: "DM Sans";
  font-size: 16px;
  color: var(--paragraph-color);
  line-height: 160%;
}

.btn {
  background-color: var(--primary-color);
  color: #fff;
  font-family: "DM Sans";
  font-size: 18px;
  font-weight: 500;
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: unset;
  color: var(--secondary-color);
}

.navbar {
  position: sticky;
  top: 0;
  border-bottom: 1px solid var(--primary-color);
  padding: 10px 5px;
  background-color: #fff;
  z-index: 1;
}

.navbar,
.menu,
.auth {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  gap: 45px;
}

.menu a {
  text-decoration: none;
  color: var(--secondary-color);
  font-family: "DM Sans";
  font-size: 16px;
}

.navbar .auth {
  gap: 40px;
  font-family: "DM Sans";
}

.auth span {
  width: 80px;
  height: 41px;
  text-align: center;
  line-height: 41px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  color: var(--secondary-color);
}

.auth :last-child,
.auth :first-child:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.auth :last-child:hover {
  color: #bababa;
}

/* ------------------ HERO ------------- */

.hero {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-content h1 {
  font-family: "Nunito";
  font-size: 72px;
  color: var(--secondary-color);
  width: 545px;
}

.hero-content p {
  width: 500px;
  margin: 30px 0;
}

.hero-content div:first-of-type {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.hero-content button {
  padding: 15px 31px;
}

.hero-content img {
  position: absolute;
  right: -130px;
}

.hero-content table {
  margin-top: 60px;
  text-align: center;
  width: 540px;
}

.hero-content table th {
  font-family: "Nunito";
  font-weight: 700;
  font-size: 35px;
}

.hero-content table td {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 18px;
}

.hero .hero-img {
  position: relative;
}

.hero-img img:not(:first-child) {
  position: absolute;
}

.hero-img .hero-arrow1 {
  top: 174px;
  left: -43px;
}

.hero-img .hero-arrow2 {
  top: 72px;
  right: -53px;
}

.hero-img .hero-arrow3 {
  bottom: 72px;
  right: -40px;
}

/* ------------------ COLLECTION-FLOWERS ---------------- */

.collection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 80px 0 125px 0;
}

.collection-content h1 {
  font-family: "Nunito";
  font-size: 35px;
  width: 390px;
  margin-bottom: 35px;
  color: var(--secondary-color);
}

.collection-content p {
  font-family: "DM Sans";
  font-size: 18px;
  color: var(--paragraph-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  width: max-content;
}

.collection-content p span {
  font-size: 25px;
}

.collection-content p:hover span {
  transform: translate(7px);
}

.collection .collection-d {
  display: flex;
  justify-content: center;
  align-items: center;
}

.collection .collection-flowers {
  gap: 24px;
}

.collection-flowers div {
  width: 217px;
  height: 207px;
  background-color: var(--cf-bg-color);
}

/* ----------------------- ABOUT US ----------------- */

.about {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.about .about-img {
  width: 446px;
  height: 440px;
  position: relative;
  top: 20px;
}

.about .about-img::before {
  content: "";
  display: block;
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  position: absolute;
  top: -40px;
  left: -70px;
  z-index: -1;
}

.about .about-content h3 {
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 18px;
  color: var(--primary-color);
}

.about-content h1 {
  font-family: "Nunito";
  font-size: 40px;
  font-weight: 700;
  color: var(--secondary-color);
  width: 470px;
  line-height: 50px;
  margin: 12px 0 24px 0;
}

.about-content p {
  width: 504px;
}

.about-content h2 {
  font-family: "DM Sans";
  font-size: 18px;
  font-weight: 500;
  color: var(--paragraph-color);
  width: 504px;
  line-height: 160%;
  margin: 16px 0 36px 0;
}

.about-content button {
  padding: 15px 31px;
}

/* -------------------- PRODUCT ------------------ */

.product {
  margin: 125px 0;
  display: grid;
  justify-items: center;
  gap: 44px;
}

.product .product-heading {
  text-align: center;
  display: grid;
  gap: 24px;
}

.product-heading h1 {
  font-family: "Nunito";
  font-size: 40px;
}

.product-heading div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.product-heading div p {
  cursor: pointer;
  font-weight: 500;
}

.product-heading div p:hover {
  color: var(--primary-color);
}

.product .product-img {
  display: flex;
  align-items: center;
  gap: 24px;
}

.product-img .product-box {
  background-color: var(--product-bg-color);
  width: 270px;
  height: 283px;
  text-align: center;
}

.product-box img {
  margin-top: 5px;
}

.product-box div:last-child {
  text-align: left;
  display: grid;
  gap: 8px;
  margin: 0 31px;
}

.product-box h2 {
  font-family: "Nunito";
  font-weight: 600;
  font-size: 24px;
}

.product-box p {
  font-family: "Nunito";
  font-weight: 600;
  font-size: 16px;
}

.product button {
  padding: 15px 31px;
}
